@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Book Bevy</h1>
    <div class="container border p-4">
        <h2>New Here? Create and Account!</h2>
        <div class="d-flex justify-content-center gap-4">
            <a class="flex-grow-0 d-inline-block btn btn-primary" href="#">Create an Account</a>
            <a class="flex-grow-0 d-inline-block btn btn-success" href="#">Login</a>
        </div>
    </div>
</div>

<main>
    <div class="container">
        <h3>All Books</h3>
        <p>These are temporary</p>
        <h3>Books By Category</h3>
        <p>These are temporary</p>
        <h3>Book Clubs</h3>
        <p>These are temporary</p>
    </div>
</main>